In [1]:
import pandas as pd

In [14]:
df2022=pd.read_csv("2022_mass_shootings.csv")
df=pd.read_csv("mass_shootings.csv")
df

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured
0,271363,"December 29, 2014",Louisiana,New Orleans,Poydras and Bolivar,0,4
1,269679,"December 27, 2014",California,Los Angeles,8800 block of South Figueroa Street,1,3
2,270036,"December 27, 2014",California,Sacramento,4000 block of May Street,0,4
3,269167,"December 26, 2014",Illinois,East St. Louis,2500 block of Summit Avenue,1,3
4,268598,"December 24, 2014",Missouri,Saint Louis,18th and Pine,1,3
...,...,...,...,...,...,...,...
3604,274867,"January 6, 2015",Florida,Miami,1300 block of NW 62nd Street,1,3
3605,273535,"January 4, 2015",Virginia,Roanoke,3634 Shenandoah Ave NW,2,4
3606,273397,"January 4, 2015",Texas,Dallas,2000 block of Ben Hur St.,3,1
3607,273965,"January 2, 2015",Georgia,Savannah,500 block of W. 54th Street,1,4
3608,272016,"January 1, 2015",Tennessee,Memphis,I-240 and Poplar Ave,0,5

In [15]:
df2022

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured
0,2358329,12-Jul-22,Massachusetts,Boston,39 Warren St,0,4
1,2358053,11-Jul-22,Mississippi,Jackson,Fairway St and Suncrest Dr,0,4
2,2356813,10-Jul-22,Texas,Alvin,1500 block of County Road 149,1,3
3,2356705,10-Jul-22,Illinois,Crest Hill,1828 Knapp Dr,1,4
4,2356327,10-Jul-22,Missouri,Kansas City,4128 Broadway Blvd,1,5
...,...,...,...,...,...,...,...
328,2201641,1-Jan-22,Wisconsin,Kenosha,1708 52nd St,1,3
329,2202001,1-Jan-22,Illinois,Peoria,2000 block of SW Adams St,2,2
330,2201876,1-Jan-22,South Carolina,Dillon,3261 Hwy 9,0,5
331,2201848,1-Jan-22,Indiana,South Bend,1500 block of S Miami St,0,4
332,2201677,1-Jan-22,Colorado,Denver,1919 Blake St,2,2

In [12]:
new=pd.concat([df,df2022])

In [13]:
new

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured
0,271363,"December 29, 2014",Louisiana,New Orleans,Poydras and Bolivar,0,4
1,269679,"December 27, 2014",California,Los Angeles,8800 block of South Figueroa Street,1,3
2,270036,"December 27, 2014",California,Sacramento,4000 block of May Street,0,4
3,269167,"December 26, 2014",Illinois,East St. Louis,2500 block of Summit Avenue,1,3
4,268598,"December 24, 2014",Missouri,Saint Louis,18th and Pine,1,3
...,...,...,...,...,...,...,...
328,2201641,1-Jan-22,Wisconsin,Kenosha,1708 52nd St,1,3
329,2202001,1-Jan-22,Illinois,Peoria,2000 block of SW Adams St,2,2
330,2201876,1-Jan-22,South Carolina,Dillon,3261 Hwy 9,0,5
331,2201848,1-Jan-22,Indiana,South Bend,1500 block of S Miami St,0,4
332,2201677,1-Jan-22,Colorado,Denver,1919 Blake St,2,2

In [16]:
new=new.drop_duplicates(subset="Incident ID")

In [17]:
new

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured
0,271363,"December 29, 2014",Louisiana,New Orleans,Poydras and Bolivar,0,4
1,269679,"December 27, 2014",California,Los Angeles,8800 block of South Figueroa Street,1,3
2,270036,"December 27, 2014",California,Sacramento,4000 block of May Street,0,4
3,269167,"December 26, 2014",Illinois,East St. Louis,2500 block of Summit Avenue,1,3
4,268598,"December 24, 2014",Missouri,Saint Louis,18th and Pine,1,3
...,...,...,...,...,...,...,...
112,2315417,28-May-22,Florida,Malabar,2500 block of Billie Ln,0,4
113,2315190,28-May-22,Colorado,Colorado Springs,3800 block of E Pikes Pike Ave,1,3
114,2315333,28-May-22,California,Merced,2600 block of Cowden Ave,1,3
115,2314951,28-May-22,Tennessee,Memphis,Chelsea Ave and Peres Ave,0,4
136,2354757,13-May-22,Louisiana,Napoleonville,NaN,0,5

In [24]:
df=new[new["Incident Date"].str.contains("-")]
df

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured
0,2358329,12-Jul-22,Massachusetts,Boston,39 Warren St,0,4
1,2358053,11-Jul-22,Mississippi,Jackson,Fairway St and Suncrest Dr,0,4
2,2356813,10-Jul-22,Texas,Alvin,1500 block of County Road 149,1,3
3,2356705,10-Jul-22,Illinois,Crest Hill,1828 Knapp Dr,1,4
4,2356327,10-Jul-22,Missouri,Kansas City,4128 Broadway Blvd,1,5
...,...,...,...,...,...,...,...
112,2315417,28-May-22,Florida,Malabar,2500 block of Billie Ln,0,4
113,2315190,28-May-22,Colorado,Colorado Springs,3800 block of E Pikes Pike Ave,1,3
114,2315333,28-May-22,California,Merced,2600 block of Cowden Ave,1,3
115,2314951,28-May-22,Tennessee,Memphis,Chelsea Ave and Peres Ave,0,4
136,2354757,13-May-22,Louisiana,Napoleonville,NaN,0,5

In [25]:
df2022=new[~new["Incident Date"].str.contains("-")]
df2022

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured
0,271363,"December 29, 2014",Louisiana,New Orleans,Poydras and Bolivar,0,4
1,269679,"December 27, 2014",California,Los Angeles,8800 block of South Figueroa Street,1,3
2,270036,"December 27, 2014",California,Sacramento,4000 block of May Street,0,4
3,269167,"December 26, 2014",Illinois,East St. Louis,2500 block of Summit Avenue,1,3
4,268598,"December 24, 2014",Missouri,Saint Louis,18th and Pine,1,3
...,...,...,...,...,...,...,...
3604,274867,"January 6, 2015",Florida,Miami,1300 block of NW 62nd Street,1,3
3605,273535,"January 4, 2015",Virginia,Roanoke,3634 Shenandoah Ave NW,2,4
3606,273397,"January 4, 2015",Texas,Dallas,2000 block of Ben Hur St.,3,1
3607,273965,"January 2, 2015",Georgia,Savannah,500 block of W. 54th Street,1,4
3608,272016,"January 1, 2015",Tennessee,Memphis,I-240 and Poplar Ave,0,5

In [26]:
df.to_csv("mass_shootings.csv", encoding='utf-8')
df2022.to_csv("2022_mass_shootings.csv", encoding='utf-8')